<div lass="table-responsive">
   <table class="table table-small-font table-bordered table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Grupo</th>
                <th>Subgrupo</th>
                <th>Estoque</th>
            </tr>    
        </thead>
        <tbody id="table">
            <tr *ngFor = "let p of produtos " >
                 <td>{{ p.codigo }}</td>
                 <td>{{ p.descricao }}</td>
                 <td>{{ p.grupo }}</td>
                 <td>{{ p.subgrupo }}</td>
                 <td>{{ p.estoque }}</td>
            </tr>
        </tbody>
    </table>
</div>